.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 20px;
  color: white;

  &__header {
    font-size: 40px;
    padding: 40px 0;
    font-weight: bold;
  }
}

.list {
  &__container {
    width: 60%;
    margin: auto;
  }

  &__track {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
}
